<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--===============spring整合struts2，action的bean交给spring管理，注意是多例-==========-->
    <!--indexAction-->
    <bean id="indexAction" class="edu.cqupt.ssh.action.IndexAction" scope="prototype"/>
    <!--userAction-->
     <bean id="userAction" class="edu.cqupt.ssh.action.UserAction" scope="prototype"/>
    <!--productAction-->
    <bean id="productAction" class="edu.cqupt.ssh.action.ProductAction" scope="prototype"/>
    <!--categoryAction-->
    <bean id="categoryAction" class="edu.cqupt.ssh.action.CategoryAction" scope="prototype"/>
    <!--购物车-->
    <bean id="shopCarAction" class="edu.cqupt.ssh.action.shopCarAction" scope="prototype"/>
    <!--订单-->
    <bean id="orderAction" class="edu.cqupt.ssh.action.OrderAction" scope="prototype"/>
    <!--后台管理员-->
    <bean id="adminAction" class="edu.cqupt.ssh.admin.action.AdminAction" scope="prototype"/>
    <!--后台管理二级目录-->
    <bean id="adminCategorySecondAction" class="edu.cqupt.ssh.admin.action.AdminCategorySecondAction" scope="prototype"/>
    <!--后台管理商品-->
    <bean id="adminProductAction" class="edu.cqupt.ssh.admin.action.AdminProductAction" scope="prototype"/>

    <!--验证码-->
     <bean id="imageAction"  class="edu.cqupt.ssh.action.ImageAction" scope="prototype"/>

    <!--================spring整合hibernate：数据源，sessionFactory，事务=====================-->
    <!--数据源-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--正式开搞！c3p0！-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <!--========来一条华丽的分割线==========-->
        <!--配置连接池的相关配置参数，自己设值玩，按需-->
        <property name="minPoolSize" value="2" />
        <property name="maxPoolSize" value="10" />
        <property name="initialPoolSize" value="10" />
    </bean>

        <!--配置sessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- hibernate信息 -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
            </props>
        </property>
        <!-- 映射文件配置信息-->
        <property name="mappingResources">
            <list>
                <value>edu/cqupt/ssh/domain/User.hbm.xml</value>
                <value>edu/cqupt/ssh/domain/Category.hbm.xml</value>
                <value>edu/cqupt/ssh/domain/CategorySecond.hbm.xml</value>
                <value>edu/cqupt/ssh/domain/Product.hbm.xml</value>
                <value>edu/cqupt/ssh/domain/Order.hbm.xml</value>
                <value>edu/cqupt/ssh/domain/OrderItem.hbm.xml</value>
                <value>edu/cqupt/ssh/admin/domain/AdminUser.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!-- hibernate的事务相关 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--=============================创建bean==================================-->
    <!--开启注解扫描-->
    <context:component-scan base-package="edu.cqupt.ssh.action"/>
    <context:component-scan base-package="edu.cqupt.ssh.dao"/>
    <context:component-scan base-package="edu.cqupt.ssh.service"/>


    <!--=============================dao==================================-->
    <!--userDao-->
   <bean id="userDao" class="edu.cqupt.ssh.dao.UserDao">
        <property name="sessionFactory" ref="sessionFactory"/>
     </bean>
    <!--categoryDao-->
    <bean id="categoryDao" class="edu.cqupt.ssh.dao.CategoryDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--productDao-->
    <bean id="productDao" class="edu.cqupt.ssh.dao.ProductDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--orderDao-->
    <bean id="orderDao" class="edu.cqupt.ssh.dao.OrderDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--adminDao-->
    <bean id="adminDao" class="edu.cqupt.ssh.admin.dao.AdminDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--adminCategorySecondDao-->
    <bean id="adminCategorySecondDao" class="edu.cqupt.ssh.admin.dao.AdminCategorySecondDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--adminProductDao-->
    <bean id="adminProductDao" class="edu.cqupt.ssh.admin.dao.AdminProductDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <!--=============================dao==================================-->
    <!--userService-->
    <bean id="userService" class="edu.cqupt.ssh.service.UserService"/>
    <!--categoryService-->
    <bean id="categoryService" class="edu.cqupt.ssh.service.CategoryService"/>
    <!--productService-->
    <bean id="productService" class="edu.cqupt.ssh.service.ProductService"/>
    <!--orderService-->
    <bean id="orderService" class="edu.cqupt.ssh.service.OrderService"/>
    <!--AdminService-->
    <bean id="adminService" class="edu.cqupt.ssh.admin.service.AdminService"/>
    <!--adminCategorySecondService-->
    <bean id="adminCategorySecondService" class="edu.cqupt.ssh.admin.service.AdminCategorySecondService"/>
    <!--adminProductService-->
    <bean id="adminProductService" class="edu.cqupt.ssh.admin.service.AdminProductService"/>
</beans>










